<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.college.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CollegeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CollegeAppTheme">
        <activity
            android:name=".onboarding.OnBoardingActivity"
            android:theme="@style/CollegeSplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        <receiver-->
        <!--            android:name=".utils.FirebaseDataReceiver"-->
        <!--            android:exported="true"-->
        <!--            android:permission="com.google.android.c2dm.permission.SEND">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
        <!--                <action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->
        <!--        <receiver android:name=".todo.TodoBroadcast" />-->
        <!--        <receiver android:name=".utils.NotificationAction" />-->

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.college.app.initializers.DependencyGraphInitializer"
                android:value="androidx.startup" />

            <meta-data
                android:name="com.college.app.initializers.LoggerInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>